html , body{
    height: 100%;
    width: 100%;
    font-family:sans-serif;
    /* background-color: black; */
}
.button{
  width: 66px;
  padding: 15px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer; 
  font-size: 20px;
  font-weight: 600;
}

.row{
  margin: 8px 0;
}

.row input{
  color: black;
  font-weight: bold;
  width: 240px;
  font-size: 20px;
  margin: 0;
  padding: 10px 25px;
  border: 2px solid black;
  border-radius: 5px;
  text-align:right;
}
